body {
    margin: 0;
    padding: 0;
  }
  
  #survey {
    margin-left: 5%;
  }
  
  .mainDiv {
  
    padding: 2% 2px 4px 4px;
    font-family: Inter;
    height: 150px;
  
  }
  
  .headerTitle {
    margin-left: 7%;
    font-family: Inter;
    font-size: 35px;
    text-shadow: 5px 5px 15px #747373;
  
  }
  
  .logoImage {
    float: right;
    margin-right: 5%;
    /* box-shadow: 5px 5px 15px #888888; */
    width: 170px;
    height: 70px;
    padding-left: 10px;
    padding-top: 10px;
  
  
  }
  .eclipse {
    margin-left: 2%;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 5px;
    background: #757ae4;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .container {
    background-image: url("src/assets/images/background_image.png");
    background-size: cover;
    background-attachment: fixed;
    height: 120vh;
    position: relative;
  }
  
  .p-inputgroup {
    padding-bottom: 10px;
  }
  
  .image1 {
    margin-left: 85%;
    margin-top: -2%;
    width: 10px
      /* border: 1px solid; */
  }
  
  h2 {
    position: relative;
    /* margin-left: 40%; */
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 12px;
    margin-top: -1%;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .heading {
    position: relative;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    width: auto;
    height: auto;
    /* left: 54px; */
    top: 13px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* border: 1px solid; */
  }
  
  
  
  .main {
  
    width: 35%;
    height: auto;
    margin-top: 4%;
    /* margin-left: 5%; */
    /* border: 1px solid; */
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    padding-top: 10px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  }
  
   .logoImage1 {
      float: right;
      margin-top: -1%;
      margin-right: 3%;
  
  } 
  p{
    font-size: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  }
  img {
    position: relative;
    /* margin-left: 42%; */
    margin-top: -5%;
    filter: drop-shadow(rgba(0, 0, 0, 0.25));
    /* border: 1px solid; */
  
  }
  .combine{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
  }
  
  
  .log {
  
  
    width: 30%;
    
    /* margin-left: 10%; */
    /* border: 1px solid; */
    /* margin-top: -23%; */
    box-shadow: rgba(0, 0, 0, 0.25);
    border-radius: 5px solid;
  
  
  }
  
  
  .img-1 {
    position: relative;
    width: 10%;
    height: 20%;
    margin-left: 9%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
    margin-top: 2%;
    padding-bottom: 2%;
  
  
  }
  
  .iconsLink {
    /* border:  1px solid; */
    text-align: center;
    height: 100%;
  }
  
  .line {
    width: 35%;
    /* height: 50px; */
    border: 1px solid #c1b9b9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* float: left; */
    margin-top: 4%;
    height: 1px;
    margin-left: 11%;
    /* border: 1px solid; */
  
  }
  
  .or {
    padding-right: 2%;
    padding-left: 2%;
    text-align: center;
    position: relative;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 12px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35)
  
  }
  
  .line1 {
  
    /* float: right; */
    width: 35%;
    border: 1px solid #c1b9b9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 4%;
    height: 1px;
    /* border: 1px solid; */
  
  }
  
  p {
    /* margin-left: 39%;
    margin-top: -5%; */
  }
  
  input {
  
    position: relative;
  
    width: 232px;
    height: 52px;
    /* margin-top: 10%; */
    margin-left: 5%;
    background: #faf7f7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  
  }
  
  .gmail {
    position: relative;
    content: "";
    display: block;
  
    width: 42px;
    height: 42px;
    margin-left: -17%;
    background-color: #d9d9d9;
    top: 20px;
    pointer-events: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* border: 1px solid; */
  
  }
  
  .password {
    position: relative;
    content: "";
    display: block;
    width: 40px;
    height: 42px;
    margin-left: -17%;
    background-color: #797777;
    top: 20px;
    pointer-events: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* border: 1px solid; */
  }
  
  .user {
    position: relative;
    content: "";
    display: block;
    width: 40px;
    height: 42px;
    margin-left: -17%;
    background-color: #797777;
    top: 20px;
    pointer-events: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* border: 1px solid; */
  }
  
  .gmailtext {
    margin-top: -12%;
  }
  
  
  
  /* .forgot {
    position: absolute;
    width: 50%;
    border: 1px solid;
    height: 50%;
    margin-top: 20px;
    margin-left: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 7px;
    color: #1D0BEF;
    cursor: pointer;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  } */
  
  /* .register {
    
    width: 150%; 
     height: 50%; 
     margin-top: -20px;
    margin-left: 80%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 7px;   
    color: #1D0BEF;
    border: 1px solid;
    cursor: pointer;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  } */
  
  .loginbtn {
    background: #6773DD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 35px;
  }
  
  .forgot {
    float: left;
    cursor: pointer;
    color: #6773DD;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
  }
  .register{
    float: right;cursor: pointer;color: #6773DD;text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
  }
  .inputclass {}
  
  .inputBox {
    margin-bottom: 3%;
    margin-top: 5%;
    /* width: 80%; */
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .inpubox {
    background-color: #D9D9D9;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 50%;
  
  
  }
  
  .p-inputgroup-addon {
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #D9D9D9;
  }