.container {
    margin: 0;
    padding: 0;
    width: 100%;
   
  }
  
  .mainDiv {
    padding: 2% 2px 10px 10px;
  
    font-family: "Inter", sans-serif;
    background-image: url("src/assets/images/Rectangle 8.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 1000%;
    height: 120px;
  }
  
  .headerTitle {
    margin-left: 6%;
    font-family: Inter;
    font-size: 35px;
    text-shadow: 5px 5px 15px #747373;
  }
  
  .eclipse {
    margin-left: 2%;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 5px;
    background: #757ae4;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .logoImage {
    float: right;
    margin-right: 5%;
    /* box-shadow: 5px 5px 15px #888888; */
    shape-outside: border-box;
    
  }
  